<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697805421885-7l7b1fl3p05uv7dpcj973nr0qaeq5tl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697805421885-7l7b1fl3p05uv7dpcj973nr0qaeq5tl6</string>
	<key>API_KEY</key>
	<string>AIzaSyDxlNrhFP760BZSK0jVL6jWrhLDbM28Y5I</string>
	<key>GCM_SENDER_ID</key>
	<string>697805421885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IA.Login</string>
	<key>PROJECT_ID</key>
	<string>primeromexico570</string>
	<key>STORAGE_BUCKET</key>
	<string>primeromexico570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697805421885:ios:58eb050e45909774011954</string>
	<key>DATABASE_URL</key>
	<string>https://primeromexico570-default-rtdb.firebaseio.com</string>
</dict>
</plist>